header {
  background-color: #f3d1f4;
  padding: 12px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #6b2e6b;
  box-shadow: 0 2px 4px rgba(0,0,0,0.06);
  border-bottom: 2px solid #e8b3e9;
  position: relative;
  z-index: 2;

}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.value,
.location-text {
  color: turquoise;
  font-weight: 600;
  font-size: 20px;
}

.character-panel {
  margin-bottom: 24px;
}

.attack {
  background-color: #f8c8dc;
  color: #8c2f4b;
}

.defend {
  background-color: #cce5ff;
  color: #004085;
}

.use {
  background-color: #fff3cd;
  color: #856404;
}

.go-forest {
  background-color: #d0f0f7;
  color: #007b8a;
}

.go-cave {
  background-color: #e0d4f8;
  color: #5a189a;
}

.go-village {
  background-color: #ffe4c4;
  color: #8b4513;
}

.log-box {
  background-color: #fdf0f5;
  padding: 12px;
  border-radius: 10px;
  color: #5a5a5a;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
  height: 81%;
  overflow-y: auto;
}

.restart-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.restart-wrapper h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #522452;
}

.restart-button {
  width: 400px;
  padding: 14px 0;
  font-size: 20px;
  background-color:darkred;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color:crimson;
}

.hidden {
  display: none;
}
